body, html{
    height: 100%;
}

body { 
    background-image: url("../images/backgrounds/office-bg.jpg");
    background-color: #dcdcdc;
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 75rem;
}
.navbar-brand img{
    max-height: 40px;
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav 
.nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light 
.navbar-nav .show>.nav-link{
    color: #2980ba;
}
.navbar-light .navbar-nav .nav-link{
    color: #2980ba;
}

#loginWrapper{
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    padding: 10 0;
    align-items: center;
    justify-content: space-around;
    display: flex;
    float: none;
    
}
#loginContainer form{
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 3px;
    border: solid lightgrey 1px;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
}
#loginWrapper h3{
    text-align: left;
    margin-bottom: 10px;
}
#loginLogo img{
    width: auto;
    height: auto;
    max-width: 300px;
}
#loginLogo{
    margin-bottom: 15px;
}
#user_avatar{
    max-height: 100px;
    max-width: 100px;
}
#user_holder, #reviews{
    margin-top: 35px;
}
#company_logo{
    max-height: 150px;
    max-width: 150px;
}
#search_business{
    margin: 10px 30px 10px 30px;
}
#btn_search_business{
    color: #2980ba;
    border-color: #2980ba;
}
#btn_search_business:hover{
    color: #fff;
    background-color: #2980ba;
}
#inputGroupSelectBusiness, #search_input{
    border-color: #2980ba;
}
#modalCompanyName{
    padding-bottom: 10px;
}
label{
    margin-bottom: 0rem;
}
.form-group{
    margin-bottom: .8rem;
}
.white-bg{
    background-color: white;
}
.top-row{
    margin: 30px 0 15px 0;
}
.star-rating {
  line-height: 45px;
  font-size: 2.00em;
  color: #2980ba;
  text-align: center;
}

.star-rating .fa-star{color: #2980ba;}

.company_name{
    padding: 10px 0 20px 0;
    text-align: center;
    color: #2980ba;
}

dl {
  width: 100%;
  overflow: hidden;
  margin-left: 30px;
  padding: 20px 0 10px 20px;
}
dt, dd {
  float: left;
}
dt{
    width: 40%;
}
dd{
    width: 60%;
}
hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.review-button{
    text-align: center;
    margin-bottom: 15px;
    margin-left: 30px;
}
.search_item{
    margin: 25px 5px 10px 5px;
}
.inputSearch{
    color: #2980ba;
    border-color: #2980ba;
}
.inputSearch:hover{
    color: #fff;
    background-color: #2980ba;
}