body, html{
    height: 100%;
}

body { 
    background-image: url("../images/backgrounds/office-bg.jpg");
    background-color: #02ffdde0;
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 75rem;
}
.navbar-brand img{
    max-height: 40px;
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link{
    color: #2980ba;
}
.navbar-light .navbar-nav .nav-link{
    color: #2980ba;
}

#loginWrapper{
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    padding: 10 0;
    align-items: center;
    justify-content: space-around;
    display: flex;
    float: none;
    
}
#loginContainer form{
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 3px;
    border: solid lightgrey 1px;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
}
#loginWrapper h3{
    text-align: left;
    margin-bottom: 10px;
}
#loginLogo img{
    width: auto;
    height: auto;
    max-width: 300px;
}
#loginLogo{
    margin-bottom: 15px;
}
label{
    margin-bottom: 0rem;
}
.form-group{
    margin-bottom: .8rem;
}
